<div class="ticket-search-section">
  <p>
    <%= content_tag :label, "Ticket suchen" %>
    <%= text_field_tag 'ticket_search', '', 
                      :id => 'ticket_search_input',
                      :placeholder => "Ticket-ID eingeben (z.B. 123)",
                      :autocomplete => 'off' %>
  </p>
  
  <div id="search_results" class="search-results" style="display: none;"></div>
</div>

<div class="added-tickets-section">
  <h3>Hinzugefügte Tickets</h3>
  <div id="added_tickets_list" class="added-tickets-list">
    <!-- Hinzugefügte Tickets werden hier angezeigt -->
  </div>
  <%= hidden_field_tag 'settings[blocked_ticket_ids]', @settings['blocked_ticket_ids'], :id => 'blocked_ticket_ids_hidden' %>
</div>

<p class="description">
  In den oben hinzugefügten Tickets können Benutzer über einen Button in den Kommentaren gelöscht werden.
</p>